[user]
    name = Anton Galitsyn
    email = anton.galitsyn@gmail.com
[color]
    diff = auto
    status = auto
    interactive = auto
    branch = auto
[alias]
    co = checkout
    st = status
    br = branch
    brs = for-each-ref --sort=committerdate --format='%(refname:short) * %(authorname) * %(committerdate:relative)' refs/remotes/ | column -t -s '*'
    ci = commit
    dh = diff HEAD
    dc = diff --cached
    dm = log --no-merges master..
    nmerge = merge --no-ff
    unstage = reset HEAD --
    rsh = reset --hard
    clh = clean -fdx
    rollback = reset --soft HEAD~1
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
    smb = submodule update --init --recursive
    f = fetch --all --prune
    sha = rev-parse HEAD
[log]
    date = local
[core]
    filemode = false
    excludesfile = ~/.gitignore
	autocrlf = input
[push]
    default = simple
